
/*--------------------------------------------------------------
# formalities-bg Section
--------------------------------------------------------------*/
#formalities-bg {
    width: 100%;
    height: 100vh;
    background: url(../img/formalities-bg.jpg) top center;
    background-size: cover;
    position: relative; 
  }
  
  @media (min-width: 1024px) {
    #formalities-bg {
      background-attachment: fixed;
    }
  }
  @media only screen and (max-width: 599px) {
    #formalities-bg { 
      background-size: 100%;
      background-repeat: no-repeat;
      height: 30vh
    }
  }
  
  #formalities-bg:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #formalities-bg .formalities-bg-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #formalities-bg h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #formalities-bg h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  
  #formalities-bg h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }

  .m-bot{
    margin: 0 0 2em 0;
  }
  
  @media (max-width: 768px) {
    #formalities-bg h2 {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  #formalities-bg .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #formalities-bg .btn-get-started:hover {
    background: #D0142C;
    border: 2px solid #D0142C;
  }

  /* formality Us Section
--------------------------------*/
#authority {
  background: #fff;
  padding: 80px 0;
}

#authority .formality-container .background {
  /* min-height: 300px; */
  background: url(../img/Logos/notary.jpg) center top no-repeat;
  /* margin-bottom: 10px; */ 
  background-size: cover;
  background-repeat: no-repeat;
  height: 58vh;
  margin: 0;
  border-radius: 1%;
  }
  @media only screen and (max-width: 599px) {
    #authority .formality-container .background {
      background-size: 100%;      
      height: 35vh
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 1400px) {
    #authority .formality-container .background {
      background-size: 100%;      
      height: 33rem;
    }
  }

#authority .formality-container .content {
  background: #fff;
}

#authority .formality-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #authority .formality-container .title {
    text-align: center;
    padding-top: 15px;
  }
  #authority .formality-container p {
    line-height: 20px;
    text-align: left !important;
  }
}

#authority .formality-container p {
  line-height: 26px;
  text-align: justify;
}

#authority .formality-container p:last-child {
  margin-bottom: 0;
}

#authority .info {
  color: #333333;
}

#authority .info i {
  font-size: 32px;
  color: #D0142C;
  float: left;
  line-height: 0;
}

#authority .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 40px;
  font-size: 14px;
}

#authority .info .email p {
  padding-top: 5px;
}

/* authority Us Section
--------------------------------*/

/* Lawyer Section
--------------------------------*/
#lawyer {
  background: #f7f7f7;;
  padding: 80px 0;
}

#lawyer .formality-container .background {
  /* min-height: 300px; */
  background: url(../img/Logos/lawyer.jpg) center top no-repeat;
  /* margin-bottom: 10px; */ 
  background-size: cover;
  background-repeat: no-repeat;
  height: 58vh;
  margin: 0;
  border-radius: 1%;
  }
  @media only screen and (max-width: 599px) {
    #lawyer .formality-container .background {
      background-size: 100%;      
      height: 35vh
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 1400px) {
    #lawyer .formality-container .background {
      background-size: 100%;      
      height: 33rem;
    }
  }

#lawyer .formality-container .content {
  background: #f7f7f7;;
}

#lawyer .formality-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #lawyer .formality-container .title {
    text-align: center;
    padding-top: 15px;
  }
  #lawyer .formality-container p {
    line-height: 20px;
    text-align: left !important;
  }
}

#lawyer .formality-container p {
  line-height: 26px;
  text-align: justify;
}

#lawyer .formality-container p:last-child {
  margin-bottom: 0;
}

#lawyer .info {
  color: #333333;
}

#lawyer .info i {
  font-size: 32px;
  color: #D0142C;
  float: left;
  line-height: 0;
}

#lawyer .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 40px;
  font-size: 14px;
}

#lawyer .info .email p {
  padding-top: 5px;
}

/* Lawyer Section
--------------------------------*/

/*  */
  
  
  